body, html {
  font-family: 'Geist', sans-serif;
}

.primary-background {
	background-color: #171717;
}

.header-navs{
  color: #707070;
  display: flex;
  gap: 2.75rem; /* gap-11 */
  font-size: 16px;
}

.header-navs a {
  color: #fff;
  font-weight: 300;
  transition: color 0.3s, font-weight 0.3s;
  text-underline-offset: 6px;
  position: relative;
}

.header-navs a.importance-link .underline-effect {
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background: #4987f1;
  border-radius: 1px;
  opacity: 0.7;
  width: 0;
  transition: width 0.2s ease-in;
}

.header-navs a.importance-link:hover .underline-effect {
  width: 100%;
}

.header-navs a:hover {
  color: #4283F1;
  font-weight: 400;
  text-decoration: underline;
}

.header-navs a.importance-link:hover {
  text-decoration: none;
}

.global-radial-gradient {
  position: fixed;
  z-index: 0;
  border-radius: 50%;
  pointer-events: none;
  filter: blur(50px);
}

.loginfocal-radial-gradient {
  position: fixed;
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
  width: 1450px;
  height: 1450px;
  z-index: 0;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 65, 161, 0.1) 0%, rgba(0, 97, 255, 0.1) 40%, rgba(23, 23, 23, 0.1) 100%);
  pointer-events: none;
  filter: blur(50px);
}

