body, html {
  font-family: 'Geist', sans-serif;
}

.primary-background {
	background-color: #171717;
}

.header-navs{
    color: #707070;
}

.global-radial-gradient {
  position: fixed;
  z-index: 0;
  border-radius: 50%;
  pointer-events: none;
  filter: blur(50px);
}

.loginfocal-radial-gradient {
  position: fixed;
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
  width: 1450px;
  height: 1450px;
  z-index: 0;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 65, 161, 0.1) 0%, rgba(0, 97, 255, 0.1) 40%, rgba(23, 23, 23, 0.1) 100%);
  pointer-events: none;
  filter: blur(50px);
}
